* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url("../assets/boat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 20vw;
}